body,
html {
    box-sizing: border-box;
    text-emphasis-color: #e5e7eb;
    background-color: #0f172a;

}

.allpage {

    display: flex;
    justify-content: center;
    /* horizontal */
    align-items: center;
    /* vertical*/
margin-top: 3vh;


}

.page {
    display: flex;
    flex-direction: column;
    border-style: none;
    width: 560px;
    max-width: 100%;
    padding: 16px;
    border-radius: 20px;
    background-color: #0f172a;
    color: #9aa4b2;
    box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.56)
;
    /* height: 60vh;
    width: 70vw;
    justify-self: center;
    padding: 22px;
    margin-top: 15vh; */
    /* background-color: #0b1223; */

}

h1 {
    color: #e5e7eb
}

input {
    border-radius: 8px;
    height: 40px;
    margin-bottom: 10px;
    background-color: #0b1223;
    border: ridge, 1px, #9aa4b242;
    
}


.name-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.fname {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.lname {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.email {
    display: flex;
    flex-direction: column;
    border-radius: 20px;

}

.phonenumber {
    display: flex;
    flex-direction: column;

}

.passworconfirm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;



}

.password {
    display: flex;
    flex-direction: column;
    flex: 1px;
    max-width: 100%;

}

.passconfirm {
    display: flex;
    flex-direction: column;
    flex: 1px;
    width: 100%;


}

/* .country
{
    display: flex;
    flex-direction: column;
    width: 20vh;
    
    } */
#country {
    border-radius: 8px;
    width: 100%;
    margin-bottom: 15px;
    height: 40px;
    background-color: #0b1223;
    color: #e5e7eb;
    border: ridge, 1px, #9aa4b242;

}

.create {
    display: flex;
    flex-direction: column;


}

input[name="CreateAccount"] {
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    background: linear-gradient(90deg, #4f46e5, #7c3aed);

}

.invalid .invalid-msg {
    display: inline-block !important;
}

.invalid-msg {
    font-size: 12px;
    font-weight: 200;
    color: red;
    /* display: none; */
}
.term
{
    display: flex;
    align-items: center;
    gap: 5px;
}
.paragraph
{
    display: flex;
    justify-content: center;
}

